/* Consolidated Styles for AccordExhibit Static Clone */

/* RESET CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* MAIN STYLES (Extracted from main_responsive.css) */
body {
    background-color: #f1f1f1;
    font-family: 'Exo 2', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

header {
    width: 100%;
    height: 90px;
    background: #f1f1f1;
}

header .logo {
    float: left;
    margin-top: 15px;
    max-height: 60px;
}

.topnav {
    background-color: #a6ce39;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: #333;
    font-weight: 600;
    text-align: center;
    padding: 20px 26px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Billboard / Hero */
.billboard {
    width: 100%;
    height: 580px;
    background: url("../images/haier-mob.webp") no-repeat center;
    background-size: cover;
    position: relative;
}

.advanced_search {
    background: rgba(255, 255, 255, 0.9);
    max-width: 330px;
    border-radius: 5px;
    float: right;
    margin-top: 40px;
    padding: 15px;
    text-align: left;
}

/* Info Section */
.info {
    width: 100%;
    overflow: hidden;
    background: #3b3b3b;
    padding: 50px 0;
    color: #fff;
}

.info_details {
    width: 50%;
    float: left;
}

.info_pic {
    width: 40%;
    float: right;
}

.info_pic img {
    max-width: 100%;
    height: auto;
}

/* Showcase */
.showcase-title {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin: 40px 0 20px;
}

.gallery-grid--portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-bottom: 50px;
}

.gallery-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

/* Simplified Static Footer */
.static-footer {
    background: #202020;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-logo {
    max-height: 50px;
    margin-bottom: 20px;
}

.footer-nav {
    margin-bottom: 20px;
}

.footer-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
}

.contact-email {
    margin-top: 15px;
    display: block;
    color: #a6ce39;
    text-decoration: none;
}

/* Responsive */
@media screen and (max-width: 900px) {
    .info_details, .info_pic {
        width: 100%;
        float: none;
    }
    .gallery-grid--portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .gallery-grid--portfolio {
        grid-template-columns: 1fr;
    }
    .advanced_search {
        float: none;
        margin: 20px auto;
    }
}
